.navbar {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  color: white;
  padding: 15px 40px;
  gap: 20px;
}

.footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 0.5em;
}