.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .wrapper {
    width: 80%;
    margin-block: 60px;
    background-color: rgb(223, 223, 223);
    padding: 100px 30px;

    .atas {
      width: 100%;
      display: flex;

      @media screen and (max-width: 1000px) {
        display: block;
      }

      .image {
        width: 50%;
        height: auto;
        object-fit: contain;

        @media screen and (max-width: 1000px) {
          width: 100%;
        }

      }

      .yt {
        width: 50%;
        aspect-ratio: 560/315;

        @media screen and (max-width: 1000px) {
          width: 100%;
        }
      }
    }

    .title {
      margin-top: 50px;
    }

    .content {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 17.5px;
      line-height: 24px;
      margin: 0;
      color: #363a47;
      margin-bottom: 50px;
    }

    .container {
      padding: 30px;
      background-color: antiquewhite;
    }
  }

}